/* CSS for the form container */
.form-container {
  max-width: 400px;
  margin: 0 auto;
}

/* CSS for the form inputs */
.form-input {
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* CSS for the error messages */
.form-error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* CSS for the radio button group */
.radio-group {
  margin-bottom: 10px;
}

.radio-group label {
  margin-right: 10px;
}

/* CSS for the date of birth field */
.date-of-birth-field {
  margin-bottom: 10px;
}

/* CSS for the submit button */
.form-submit {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

/* CSS for the "Show Table" button */
.show-table-btn {
  background-color: #2196f3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 550px;
}

/* CSS for the table */
table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 8px;
  border: 1px solid #ccc;
}

table th {
  background-color: #f2f2f2;
  text-align: left;
}

table td {
  text-align: center;
}
.table-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  max-height: 200px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 20px;
  overflow-y: auto;
}

.table-popup table {
  width: 100%;
  border-collapse: collapse;
}

.table-popup th,
.table-popup td {
  padding: 8px;
  border: 1px solid #ccc;
}

.table-popup th {
  background-color: #f2f2f2;
  text-align: left;
}

.table-popup td {
  text-align: center;
}

/* CSS for the close button */
.close-btn {
  position: absolute;
  top: 2px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: #00ffe5;
  font-size: 16px;
  cursor: pointer;
}